* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77C0A;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;
  --gradient-border: #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%,
    #91a1fa 84.58%;
  --gradient-background: #d586e0 0%, #91a1fa 98.93%;
  --gradient-content: #c7c9cc 0%, #3d3d3d 100%;

  --font-family-sora: "Sora", sans-serif;
  --font-family-roboto-mono: "Roboto Mono", monospace;
  --font-family-roboto-flex: "Roboto Flex", sans-serif;
}
body {
  font-family: var(--font-family-sora);
  color: var(--text-primary);
  background-color: var(--background-primary);
  background: url(../assets/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -0px -20px;
  h1 {
    text-transform: uppercase;
  }
}
